<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twoje Habity</title>
</head>
<body>
    {% if request.query_params.get('message') %}
    <div class="alert">
        {{ request.query_params.get('message') }}
    </div>
    {% endif %}

    <h1>Settings -> login, password + resetowanie hasla</h1>
    <h2>Witaj {{ login }}!</h2>
    <p>User id: <b>{{ user_id }}</b></p>

    <h1>Home -> checkowanie habitow</h1>
    <h2>Twoje habity:</h2>
    {% if habits %}
    <ul>
        {% for habit in habits %}
        <li>
            <form method="post" action="/check-habit/{{ habit.id }}">
                <strong>{{ habit.name }}</strong> - {{ habit.description }} ({{ habit.frequency }})
                <button type="submit">✔</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nie masz jeszcze żadnych habitów.</p>
    {% endif %}

    <h1>Habit -> heatmapa + dodawanie/usuwanie habitow</h1>
        {% if habit_log_data %}
        {% for item in habit_log_data %}
            <div class="habit-container">
                <strong>{{ item.habit.name }} ({{ item.habit.frequency }})</strong>
                <div class="logs">
                    {% for log in item.logs %}
                    <div class="log {{ 'done' if log.is_done else 'not-done' }}">
                        {{ '✔' if log.is_done else 'X' }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Nie znaleziono żadnych logów do wyświetlenia.</p>
    {% endif %}
    <h2>Dodaj nowy habit:</h2>
    <form method="post" action="/add-habit">
        <input type="text" name="name" placeholder="Nazwa habitu" required>
        <input type="text" name="description" placeholder="Opis" required>
        <input type="text" name="frequency" placeholder="Częstotliwość" value="daily" required>
        <button type="submit">Dodaj</button>
    </form>

    <h2>Usuń habit:</h2>
    {% if habits %}
    <ul>
        {% for habit in habits %}
        <li>
            <form method="post" action="/delete-habit/{{ habit.id }}">
                <strong>{{ habit.name }}</strong> - {{ habit.description }} ({{ habit.frequency }})
                <button type="submit">USUŃ</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nie masz jeszcze żadnych habitów do usunięcia.</p>
    {% endif %}

</body>
</html>
